# Compiles and uploads jar file
#
# Triggered by:
# Pull request to main

name: Build and Upload 

on:
    pull_request:
      branches:
        - main


jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v2
              with:
                java-version: 17
                distribution: 'adopt'
            
            - name: Build with Gradle
              run: ./gradlew build

            - name: Upload build as artifact
              uses: actions/upload-artifact@v4
              with:
                include-hidden-files: true
                name: build-artifacts
                path: lwjgl3/build/libs

            

